/* Import custom font */
@font-face {
    font-family: 'custom';
    src: url('font.ttf');
}

/* Base Styles */
body {
    font-family: 'custom', sans-serif; /* Fallback to sans-serif if custom font is not available */
    background-color: #8E94AC;
    margin: auto;
    width: 50%;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto; /* Center the image */
    width: 30%;
    height: auto;
    margin-top: 30px;
}

/* Form Styles */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"], input[type="date"], select {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Input Section Styles */
#inputSection {
    margin: auto;
    width: 50%;
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-container button, .form-group button {
    margin: 0 5px;
    background-color: rgba(113, 105, 189, 0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.button-container button:hover, .form-group button:hover {
    background-color: rgba(113, 105, 189, 0.9); /* Slightly darker on hover */
    transform: scale(1.05);
}

/* Table Styles */
table {
    width: 100%;
    margin-top: 20px;
    background-color: #8E94AC;
    border-radius: 10px;
    border: 3px solid #ccc;
    padding: 5px;
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #61587D;
    border-radius: 10px;
}
